
<div class="panel panel-settings">
	<div class="panel-heading">
		<div class="container">
			<div class="row">
				<input type="button" class="btn btn-xs btn-default pull-left" name="save" value="Cancel" ng-click="vm.cancel()" />
				<h3 class="panel-title">Settings</h3>
				<input type="button" class="btn btn-xs btn-primary pull-right" name="save" value="Save" ng-click="vm.save()" />
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="container">
		<form name="settingsForm">
			<div class="row">
				<input type="text" maxlength="100" ng-model="vm.user.username" require="true" name="username" placeholder="Username"/><label for="username">Username</label>
			</div>
			<div class="row">
				<input type="text" maxlength="100" ng-model="vm.user.displayName" require="true" name="displayName" placeholder="Display Name"/><label for="displayName">Display Name</label>
			</div>
			<div class="row">
				<input type="text" maxlength="100" ng-model="vm.user.email" require="true" name="email" placeholder="Email"/><label for="email">Email</label>
			</div>
			<div class="row">
				<label><input type="checkbox" ng-model="vm.user.emailUpdates" />Receive Email Updates</label><a href="alert"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
			</div>
			<div class="row">
				<h2>user Settings last updated on {{vm.user.updatedDate}}</h2>
				
				
			</div>
			<div class="row">
				<a href="/logout" target="self" class="btn btn-primary">Logout</a>
			</div>
		</form>
	</div>
	</div>
</div>