<h2>user Settings</h2>
<form name="settingsForm">
<div>
User Name : <input type="text" maxlength="100" ng-model="vm.me.username" require="true"/>
</div>
<div>
Display Name : <input type="text" maxlength="100" ng-model="vm.me.displayName" require="true"/>
</div>
<div>
Email : <input type="text" maxlength="100" ng-model="vm.me.email" require="true"/>
</div>
<div>
Email Updates : <input type="checkbox" ng-model="vm.me.emailUpdates" />
</div>
<div>
<input type="button" class="btn btn-xs btn-primary" name="save" value="Save" ng-click="vm.save()" />
<input type="button" class="btn btn-xs btn-default" name="save" value="Cancel" ng-click="vm.cancel()" />
</div>
</form>