
.panel-body {
	background-image: linear-gradient(-180deg, #EAEAEA 0%, #C7C7C7 100%);
}
/* --- PICKS --- */
.panel .ng-scope {
	margin:0 0 13px;
	height:42px;
	border-radius: 5px;
	border: 1px solid #1E1E1E;
	background: #EAEAEA;	
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	border-radius: 5px;

}