
@import url(https://fonts.googleapis.com/css?family=Roboto);

$green:#1CAC20;
$red:#D0021B;
$darkgray:#989898;


@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

@mixin respond-to($media) {
    /* Landscape phones and down */
    @if $media == phone {
        @media (max-width: 480px) { @content; }
    }
    /* Landscape phone to portrait tablet */
    @else if $media == large-phone {
        @media (max-width: 544px) {@content; }
    }
    
    /* Landscape phone to portrait tablet */
    @else if $media == tablet-portrait {
        @media (max-width: 768px) {@content; }
    }
    /* Portrait tablet to landscape and desktop */
    @else if $media == tablet-landscape-desktop {
        @media (min-width: 769px) and (max-width: 991px) { @content; }
    }
    /* Large desktop */
    @else if $media == large-desktop {
        @media (min-width: 1200px) { @content; }
    }
    // Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
 }



html, body { font-size: 100%; }



body {
	font-family: 'Roboto';
	font-weight: 300;
	color:#6B6B6B;


}


footer {
	 height:50px;
	 position:fixed;
	 bottom:0;
	 background: #FFF;
	 width: 100%;	 
	 
	 nav {
	 	font-size: 0.625em;
	 	padding-top:8px;
	 	/* Background: */
		background: rgba(249,249,249,0.90);
		box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.10);
	 	a:hover {
	 		text-decoration: none;
	 	}
	 	.fa {
	 		font-size:2em;
	 	}

	 }

}
.panel {
	background-image: linear-gradient(-180deg, #EAEAEA 0%, #C7C7C7 100%);
	padding-top:44px;
	padding-bottom:50px;
	.panel-heading {
		text-align: center;
		background:#FFF;
		height:44px;
		position:fixed;
		top:0;
		width:100%;
		z-index:99;
		.pull-right {
			position: absolute;
			right:10px;

		}
		.pull-left {
			position: absolute;
			left:10px;
		}


	}
	
}
.panel-picks, .panel-info {
	.panel-body {
		width: 100%;
		max-width: 244px;
		padding:13px 0px 55px;
		margin:0 auto;
	}

}
.panel-title {
	display: inline;
	text-transform: uppercase;
	color:#000;
	font-size:17px;
}


.pick-container {
	/*height:42px;*/
	border-radius: 5px;
	border: 1px solid #1E1E1E;
	background: #EAEAEA;	
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
	border-radius: 5px;
	transition: all .2s ease-in-out; 
}

.panel {
	.ng-scope {
		@extend .pick-container;
		margin:0 0 13px;
		
	}
	
	.gu-transit { /*---DROPZONE---*/
		@extend .pick-container;
		background: #CDCDCD;
		border: 1px solid rgba(0,0,0,0.0);
		box-shadow: none;
		transition:none;
		.matchup,
		.wager {
			opacity:0.0;
		}
	}
}
.gu-mirror { /*---DRAG---*/
	@extend .pick-container;
		opacity:1.0 !important;
		background: #FFF;
		box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.333);
		transform: scale(1.05); 

	}

.matchup {
			padding:2px 0;

			div {
				width:33.333%;
				float:left;
				text-align: center;
				button {
					width:44px;
					height: 44px;
					border-radius: 44px;
					font-style: bold;
					font-size:1.25em;
					font-weight: 600;
					padding:0;
					box-shadow: none;
					background: none;
					border:1px solid rgba(0,0,0,0.0);
					text-shadow:none;
					&:active, 
					&:focus {
						background: #C8C8C8 !important;
						color:#000 !important;

					}
					&.btn-primary { /*---SELECTED WINNER---*/
						background: #C8C8C8;
						border:1px solid #FFF;
						color:#000;
						@include box-shadow(inset, 0, 1px, 2px, rgba(0, 0, 0, 0.5));


					}
				}

			}
			.game-clock {
					padding-top:1px;
					span {
						line-height: 100%;
						font-size:12px;
						display:block;
					}
					.date {
						margin-top:8px;
					}
					.game-score {
						color:#FFFFFF;
					}
				}
		}

.wager {
			padding-left:0; 
			span {
				color:#000;
				background: #FFF;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				height: 48px;
				float:left;
				display: block;
				width: 35px;
				font-size: 18px;
				padding-top:15px;
				text-align: center;
				line-height: 100%;
			}
		}	

.pole {
	border:none;
	position:fixed;
	width:10%;
	min-width:50px;
	height:80%;
	margin-top:28px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */background-image: linear-gradient(-180deg, rgba(255,255,255,0.0) 0%, rgba 100%);
	header {
		position: relative;
		top:-2em;
	}
	span {
		width: 100%;
		height:100 / 16 * 1%;
		display: block;
		vertical-align: middle;
	    float: none;
	    font-size: 1.125em;
	    font-weight: 300;
	    text-align: center;
	    color:$darkgray;
	    &.won {
	    	color: $green;
	    }
	    &.lost {
	    	color:$red;
	    }
	    &.during {
	    	color:#000;
	    }
	    &.zoom {
	    	color:#000;
	    	font-size: 1.333em;
	    	font-weight: 600;
	    	top:-.104em;
	    	position:relative;

	    }
	}
}
////////LOGIN
.panel-login {
	form {
		max-width: 244px;
		margin:0 auto;
		text-align: center;
	}
	.btn {
		width: 100%;
		font-size:1em;
		text-align: left;
		margin-bottom:1em;

background: #EAEAEA;
border: 1px solid #1E1E1E;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
border-radius: 5px;
	}
}

////////SETTINGS



